.navbar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @media (--mobile) {
    flex-direction: initial;
  }
}

.navbar-links {
  display: flex;
  gap: 0.5rem;
  margin-inline: auto;

  @media (--mobile) {
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-background);
    box-shadow: 0 0 20px -6px
      color-mix(in srgb, var(--color-text), transparent 50%);
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 200ms,
      top 250ms;

    &.expanded {
      top: 100%;
      opacity: 1;
      pointer-events: auto;
    }
  }

  a {
    color: currentcolor;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.35em;

    &:is(:hover, :focus-visible, .is-active) {
      color: var(--color-primary);
    }

    &:focus-visible {
      border-radius: 0.5rem;
      outline: 2px dashed;
      outline-offset: 0.15em;
    }

    @media (--mobile) {
      text-decoration: none;
    }
  }
}
