.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 3rem;
  background-color: color-mix(in srgb, var(--color-text), transparent 50%);
  color: var(--color-background);
  line-height: 1;
  margin-inline: 0.25rem;
  text-decoration: none;

  &:first-child {
    margin-left: 0;
  }

  &:is(:hover, :focus-visible) {
    --color-text: var(--color-primary);
  }
}
