---
const routes = {
  "Inicio": "/",
  "Acerca de mí": "/about",
  "Blog": "/blog",
  "Etiquetas": "/tags"
}

const mappedRoutes = Object.entries(routes);
---

<div class="navbar-links">
  {mappedRoutes.map(([key, value]) => <a href={value} class:list={{"is-active": Astro.url.pathname.endsWith(value)}}>{key}</a>)}
</div>
